*.pyc
build/
dist/
*egg-info/
*.DS_Store
venv
.output/
sample_output/

# Doxygen output
docs/html/

# Testing output
.tox/

# Archive configs
/maestrowf/plugins/archive/configs
*.log

# Notebooks
.ipynb_checkpoints/

# CoRR stuff
.cache/
*-archive.yaml
